In [4]:
import os
import duckdb
from dotenv import load_dotenv
load_dotenv()

True

In [6]:
db_name = os.getenv("DB_NAME")
db_folder = os.getenv("DB_FOLDER")
table_name = os.getenv("DB_TABLE")
conn = duckdb.connect(database=os.path.join(db_folder, db_name))

In [12]:
def run_query(query_str: str):
    return conn.sql(query_str)

In [13]:
query_str = f"DESC {table_name}"
run_query(query_str=query_str)

┌──────────────────┬─────────────┬─────────┬─────────┬─────────┬─────────┐
│   column_name    │ column_type │  null   │   key   │ default │  extra  │
│     varchar      │   varchar   │ varchar │ varchar │ varchar │ varchar │
├──────────────────┼─────────────┼─────────┼─────────┼─────────┼─────────┤
│ job_id           │ VARCHAR     │ NO      │ PRI     │ NULL    │ NULL    │
│ job_title        │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ company          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ responsibilities │ VARCHAR[]   │ YES     │ NULL    │ NULL    │ NULL    │
│ qualifications   │ VARCHAR[]   │ YES     │ NULL    │ NULL    │ NULL    │
│ experiences      │ VARCHAR[]   │ YES     │ NULL    │ NULL    │ NULL    │
│ skills           │ VARCHAR[]   │ YES     │ NULL    │ NULL    │ NULL    │
│ salary           │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ working_location │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ source_url       │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
│ keyword          │ VARCHAR     │ YES     │ NULL    │ NULL    │ NULL    │
├──────────────────┴─────────────┴─────────┴─────────┴─────────┴─────────┤
│ 11 rows                                                      6 columns │
└────────────────────────────────────────────────────────────────────────┘

In [14]:
query_str_job_title = f"SELECT job_title, count(job_id) AS COUNT FROM {table_name} GROUP BY job_title ORDER BY job_title asc"
run_query(query_str=query_str_job_title)

┌───────────────────────────────────────────────────────────────┬───────┐
│                           job_title                           │ COUNT │
│                            varchar                            │ int64 │
├───────────────────────────────────────────────────────────────┼───────┤
│ AI & Data Engineer                                            │     1 │
│ AI Agent Product Manager                                      │     1 │
│ AI Algorithm Engineer (YSIP)                                  │     1 │
│ AI Application Architect and Technology Strategy Expert       │     1 │
│ AI Application Developer (part-time)                          │     1 │
│ AI Developer                                                  │     2 │
│ AI Developer - LLM focus                                      │     1 │
│ AI Engineer                                                   │     6 │
│ AI Engineer Lead / AI Engineer                                │     1 │
│ AI Engineer/Data Scientist                                    │     1 │
│             ·                                                 │     · │
│             ·                                                 │     · │
│             ·                                                 │     · │
│ Senior/Principal Research Engineer (AI Speech)                │     1 │
│ Software Engineer, AI Applications                            │     1 │
│ Strategic Partnerships Development Manager                    │     1 │
│ System Analyst / Senior System Analyst                        │     1 │
│ System Developer - AI - AVP                                   │     1 │
│ Systems Analyst / Senior Systems Analyst                      │     3 │
│ Tax - Hong Kong Corporate Tax - Associate II/Senior Associate │     1 │
│ Tech Project Manager/Lead Presales Consultant, Data and AI    │     1 │
│ Technical Lead (AI, Data Security & Architecture)             │     1 │
│ Technical Lead (AI, ML & Data Engineering)                    │     1 │
├───────────────────────────────────────────────────────────────┴───────┤
│ 98 rows (20 shown)                                          2 columns │
└───────────────────────────────────────────────────────────────────────┘

In [ ]:
query_str_responsibilities = f"SELECT skills, FROM {table_name}"
run_query(query_str=query_str_responsibilities).to_df()

                                                skills
0            [LLM, RAG or chatbot, system integration]
1    [Good command of both written and spoken Engli...
2    [Deep learning, Generative AI, LLM, Linux, Mac...
3    [Explain complex AI concepts to non-technical ...
4    [Python proficiency, Experience building produ...
..                                                 ...
112  [Firewall, IDS, IPS, WAF, DNS Security, Email ...
113  [Legal drafting, negotiation, due diligence, c...
114  [API design, microservices, cloud platforms, A...
115  [SQL, Python, Machine Learning, Data Science, ...
116  [Robotics & electronics, Software development,...

[117 rows x 1 columns]